@{
    ViewBag.Title = "Home Page";
}



<div class= "container">
     <header id="showcase">
         <h1>Holiday Helper</h1>
         <p>Times are hectic. Life gets busy. We don't judge. Holiday Helper will make sure you never forget a gift for another birthday, aniversary, or holiday ever again.</p>
         <button type="button" class="btn btn-success">Get Started</button>
     </header>
    </div>
